{% load movie_extras %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MyMovieSeeker</title>

  <!-- Bootstrap core CSS --> 
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/jquery-ui/jquery-ui.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/movie.css' %}" rel="stylesheet">

  <!--serarch Button-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery-3.3.1.js' %}"></script>
  <script src="{% static 'vendor/jquery-ui/jquery-ui.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <style type="text/css">

    html, body {
      height: 100%;
      margin: 0;
    }
    .tb_sp{
      font-size: 7.5pt;
    }
    .mylb {
      padding-top: 4px;
      text-align: center;
    }
    .mya {
      font-size: 7pt; padding-top: 7px; width:10%; padding-left:5px;
    }

    .myp {
        display: block;
        text-align: center;
        padding-left: 8.5px;
        padding-right: 13px;
        font-size: 9pt;

    }
  </style>
</head>

<body style="">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">MyMovieSeeker :)</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movie_list' %}">Ranking
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'finder' %}">MovieFinder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="min-height: 100%;">
    <section style="padding-bottom:50px;">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-5">MovieFinder</h1>
      <p class="lead">무비파인더로 원하는 영화를 찾아보세요:)</p>
        
        <div class="row justify-content-center">
         <div class="col-12">
              <form action="{% url 'finder' %}" method="GET">
                  <div class="row cardbody no-gutters align-items-center">
                      <div class="col-auto">
                          <i style="padding-top: 4px;" class="fas fa-search h4 text-body"></i>
                      </div>
                      &nbsp;&nbsp;
                      <div class="col">
                          <input id="search_field" class="form-control form-control-sm " type="search" name="q" placeholder="Search by Movie Title">
                      </div>
                      &nbsp;&nbsp;
                      <div class="col-auto btn-group" role="group">
                          <a href="#" id ="open_filter" class="btn btn-sm btn-secondary mya">▼</a>
                          <a href="#" id ="close_filter" class="btn btn-sm btn-secondary mya" style="display: none;">▲</a>
                          <button id ="search_button" class="btn btn-sm btn-success" type="submit">Search</button>
                      </div>  
                  </div>
                    <div class="row justify-content-center" style="margin-top: 20px; display: none;" id="filter_table">
                        <div class="col-5 col-md-6 mb-1">
                            <label class="mylb row justify-content-center">Country</label>
                            <select class="form-control form-control-sm" name="nation">
                                <option value="" selected>선택</option><option value="KR">한국</option><option value="JP">일본</option>
                                <option value="US">미국</option><option value="HK">홍콩</option><option value="GB">영국</option>
                                <option value="FR">프랑스</option><option value="ETC">기타</option>
                            </select>
                        </div>
                        <div class="col-5 col-md-6 mb-1">
                            <label class="mylb row justify-content-center">Genre</label>
                            <select class="form-control form-control-sm" style="font-size: 10pt;" name="genre">
                              <option value="" selected>선택</option><option value="1">드라마</option><option value="2">판타지</option>
                              <option value="3">서부</option><option value="4">공포</option><option value="5">로맨스</option>
                              <option value="6">모험</option><option value="7">스릴러</option><option value="8">느와르</option>
                              <option value="9">컬트</option><option value="10">다큐멘터리</option><option value="11">코미디</option>
                              <option value="12">가족</option><option value="13">미스터리</option><option value="14">전쟁</option>
                              <option value="15">애니메이션</option><option value="16">범죄</option><option value="17">뮤지컬</option>
                              <option value="18">SF</option><option value="21">에로</option><option value="22">서스펜스</option>
                              <option value="23">서사</option>
                            </select>
                        </div>
                        <div class="col-5 col-md-6 mb-4">
                            <label class="mylb row justify-content-center">Year from</label>
                            <select class="form-control form-control-sm sliderValue" data-index="0" name="startyear">
                              {% for year in range %}
                                  <option value="{{ year }}">{{ year }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="col-5 col-md-6 mb-4">
                            <label class="mylb row justify-content-center">Year to</label>
                            <select class="form-control form-control-sm sliderValue" data-index="1" name="endyear">
                              {% for year in range %}
                                  <option selected value="{{ year }}">{{ year }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="ui-slider ui-slider-handle" id="slider-range" style="width:70%;font-size: 9pt;"></div>

                        <!--
                        
                        <ul style="list-style-type: none; padding-right: 12px; margin-bottom: 0">
                        <li style="float: left;"><p class="myp">1920</p></li>
                        <li style="float: left;"><p class="myp">1940</p></li>
                        <li style="float: left;"><p class="myp">1960</p></li>
                        <li style="float: left;"><p class="myp">1980</p></li>
                        <li style="float: left;"><p class="myp">2000</p></li>
                        <li style="float: left;"><p class="myp">2020</p></li>
                        </ul>-->

                      </div>
                            
              <!-- end of col-auto -->
            </form>
            </div>
            <!--end of col-->
        </div>
        <!--end of row -->
    </header>

    <!-- Page Features -->
    <div id="my_div" class="row text-center" style="display:none">
      <span> '<b>{{ search_text }}</b>' 검색, 총 '<b>{{ total }}</b>' 건의 결과 </span>
      <table class="table table-hover movie_table" id="centered" border="0" style="table-layout: fixed;border-spacing:0px;">
        <thead>
          <tr>
            <th width="110">포스터/링크</th>
            <th>영화제목</th>
            <th width="130">감독 및 출연배우</th>
            <th width="40">개봉 / 평점</th>
          </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
          <td style="padding: 0;"><a href="{{item.link}}" target="_blank">
                <img src="{{item.image}}" alt=""  width="100" height="137" onerror="this.onerror=null;this.src='https://ssl.pstatic.net/static/movie/2012/06/dft_img203x290.png';"></a></td>
          <td style="padding-left: 0;padding-right: 0"><span class="tb_sp">{{ item.title|safe }}<br></span><span class="tb_sp" style="color: gray;">{{ item.subtitle|safe }}</span></td>
          <td style="padding-left: 0;padding-right: 0"><strong class="tb_sp">[{{ item.director|cut:"|" }}]</strong><span class="tb_sp" style="color: gray;"><br>{{ item.actor|cut:"|" }}</span></td>
          <td style="padding-left: 0;padding-right: 0"><span class="tb_sp">{{ item.pubDate }}<br>/<br>{{ item.userRating }}</span></td>
        </tr>
        {% endfor %}

        </tbody>
      </table>

    </div>

  </section>
  </div>
  <!-- /.container -->
    

  <!-- Footer -->
  <footer class="py-2 bg-dark" style="height: 40px; margin-top:-40px; margin-bottom:0px;>
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MyMovieSeeker 2019</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

  <script type="text/javascript">
    $(document).ready(function(){

        var show = localStorage.getItem('show');
        if(show === 'true'){
            $('#my_div').show();
            localStorage.removeItem('show');
        }
        
        $("#search_button").click(function(event){
            $('#my_div').show();
            localStorage.setItem('show', 'true');
        });

        $("#open_filter").on("click" , function(){
          $('#filter_table').show();
          $("#open_filter").hide()
          $("#close_filter").show();
        });

        $("#close_filter").on("click", function(){
          $('#filter_table').hide();
          $("#open_filter").show();
          $("#close_filter").hide();
        });
    });
  </script>

  <script> //Range Slide
   $(document).ready(function(){

      var s1 = $("select.sliderValue[data-index=0]");
      var s2 = $("select.sliderValue[data-index=1]");

    $( "#slider-range" ).slider({

      range: true,
      min: 1920,
      max: 2020,
      values: [ 1920, 2020 ],
      slide: function( event, ui ) {

        s1.val(ui.values[0]);
        s2.val(ui.values[1]);

        $(this).find('.ui-slider-handle:nth-child(2)').text(ui.values[0]);
        $(this).find('.ui-slider-handle:nth-child(3)').text(ui.values[1]);
      },
      create: function(event, ui) {
            $("select.sliderValue").on('change', function() {
              $("#slider-range").slider("values", [s1.val(),s2.val()]);
              $('.ui-slider-handle:nth-child(2)').text(s1.val());
              $('.ui-slider-handle:nth-child(3)').text(s2.val());
            });

            var v1 = $(this).slider('values')[0];
            var v2 = $(this).slider('values')[1];
            $(this).find('.ui-slider-handle:nth-child(2)').text(v1);
            $(this).find('.ui-slider-handle:nth-child(3)').text(v2);
      }

    });
        $("#theSelect option:selected").attr('disabled','disabled')
        .siblings().removeAttr('disabled');

    //option disabled (range)
    $("select.sliderValue").on('change', function() {

      if ($("select.sliderValue[data-index=1] option").val() > s1.val()) {
        $("select.sliderValue[data-index=0] option").attr('disabled',true);
      }
    });
    //$(".test").html($("select.sliderValue[data-index=0] option").val())

    // $("select.sliderValue").on('change', function() {
    //   $("select.sliderValue[data-index=0] option").attr('disabled',true);

     //  $("select.sliderValue[data-index=1] option:select")
     // var selectedOptions = $(this);
     // $(s1 option:selected).attr('disabled','disabled').siblings().removeAttr('disabled');

  });
</script>

</html>